.icon{
    display: block;
    text-align: center;
    margin: auto;
    width: 7rem;
    background-color: var(--ion-color-tertiary-shade, #633ce0) !important;
    padding: 1rem;
    border-radius: 35%;
}

.titleApp{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    color: var(--ion-color-tertiary-shade, #633ce0) !important;
}