<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>{{ lista.titulo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list class="dark">
        <ion-list-header class="dark">
            <ion-label color="tertiary">
                Tareas por hacer
            </ion-label>
        </ion-list-header>

        <ion-item color="dark" *ngFor="let item of lista.items" class="animated fadeInDown">
            <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.completado" (ionChange)="cambioCheck(item)"></ion-checkbox>

            <ion-label>{{ item.desc }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>