<ion-header class="ion-no-border" style="text-align: center;">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-label>
            <strong> {{ lista.titulo }} </strong>
            <br>
            <ion-note color="light" style="font-size:small; text-align: center;" slot="end"> 
               
                
                Vence: 
                <strong style="font-size:small; text-align: center;">{{ lista.venceEn | date : 'dd/MM/yyyy'}} </strong>
            </ion-note>      
           
        </ion-label> 
        
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Agregar nuevo item</ion-label>
            <ion-input  type="text" 
                        [(ngModel)]="nombreItem" 
                        (keyup.enter)="agregarItem()">
            </ion-input>
        </ion-item>
    </ion-list>

    <ion-list class="dark">
        <ion-list-header class="dark">
            <ion-label *ngIf="lista.items.length > 0" color="dark">
                Tareas por hacer
            </ion-label>
        </ion-list-header>
    </ion-list>

    <ion-item-sliding *ngFor="let item of lista.items; let i = index" class="animated fadeInDown">
        <ion-item color="dark">
            <ion-checkbox   slot="start" 
                            color="tertiary" 
                            [(ngModel)]="item.completado" 
                            (ionChange)="cambioCheck(item)">
            </ion-checkbox>
            <ion-label>{{ item.desc }}</ion-label>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option    (click)="borrarItem(i)" 
                                color="danger">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>


</ion-content>